<style>
body {
background-color:#FFFFFF;
color: #000000;
}

h1{size: 20px;
font-size: larger;
font-family:Verdana;}
h1{size: 10px;
font-size: larger;
font-family:Verdana;}
h5{size: 4px;
font-size: small;
font-family:Verdana;
font-weight:lighter}

header ul {
    display: flex;
    list-style: none ;
    padding:0 ;
}
header li {
    margin-right: 80px;
}


/*背景切り替え用　参考サイト：https://style.potepan.com/articles/24119.html*/
.aquabg{
    height: 3000px;
    background-color: #CCFFFF;
}
