body {
background-color:#EEEEFF;
color: #000000;
margin:0;
pading:0;
}

h1{size: 20px;
font-size: larger;
font-family:Verdana;}
h1{size: 10px;
font-size: larger;
font-family:Verdana;}
h5{size: 4px;
font-size: small;
font-family:Verdana;
font-weight:lighter}

header ul {
    display: flex;
    list-style: none ;
    padding:0 ;
}
header li {
    margin-right: 80px;
}

hh2{
    font-size:1.3em ;
    border-left:solid 5px #555599

}
hh3{
    color: #0033cc;
}
hh3:hover{
  text-decoration: underline;
}
big{
  font-size:1.5em ;
}

footerhead{
  font-size:1.2em ;
  }
secret{
  color:#0f1a59;
}
secret_2{
  color:#E0E0FF
}
grayout{
  color: #CCCCCC;
}

/*背景切り替え用　参考サイト：https://style.potepan.com/articles/24119.html*/
/*フッター 参考サイト:https://jajaaan.co.jp/css/footer-css-html/*/
.blackbg{
    height: 400px;
    background-color:#0f1a59;
    color:#FFFFFF ;
    text-align:center;
    font:Arial ;
}
.borderline{
  background-color: #000000;
  height:0.001px ;
  width:100% ;
}
.footer{
  padding:2px ;
  background-color: #FDFDFD;
  font-size:0.8em ;
}
.hiding{
  display:none ;
}

