<style>
body {
background-color:#FFFFFF;
color: #000000;
}

h1{size: 20px;
font-size: larger;
font-family:Verdana;}
h1{size: 10px;
font-size: larger;
font-family:Verdana;}
h5{size: 4px;
font-size: small;
font-family:Verdana;
font-weight:lighter}

header ul {
    display: flex;
    list-style: none ;
    padding:0 ;
}
header li {
    margin-right: 80px;
}

hh2{
    background-color:#DDDDFF;
    border-left:solid 5px #00CCFF

}
hh3{
   /* background:linear-gradient(transparent 70%,#0000ff ); */
    color: #0033cc;
}
big{
  font-size:1.5em ;
}
secret{
  color:#30a1a2;
}

/*背景切り替え用　参考サイト：https://style.potepan.com/articles/24119.html*/
.blackbg{
    height: 400px;
    background-color:#30a1a2;
    color:#FFFFFF ;
    text-align:center;
    font:Arial ;
}
